[Unit]
Description=Backup

[Service]
User=pi
Type=oneshot
Environment="RESTIC_PASSWORD_FILE=/home/{{ ansible_user }}/restic_pw"
ExecStart=sudo systemctl stop syncthing@pi.service
ExecStart={{ restic_binary_path }} -r rclone:{{ cloud_name }}:backup -v backup {{ backup_target }}
ExecStop=sudo systemctl start syncthing@pi.service
{% if use_logging|bool -%}
ExecStop=/bin/bash -c "journalctl | grep \"$(date +'%%b %%d')\" | grep restic | /home/{{ ansible_user }}/.local/bin/matrix-commander -m -"
{% endif %}