[Unit]
Description=Run integrity check after backup
After=backup.service
Wants=backup.service

[Timer]
OnCalendar=*-*-* 03:00:00
Unit=integrity.service

[Install]
WantedBy=timers.target